.app {
  text-align: center;
}

.primary {
  text-transform: uppercase;
  font-size: 3em;
}

.accent {
  color: var(--red);
  text-decoration: line-through;
}

.underline {
  text-transform: uppercase;
  font-size: 1em;
}